<!DOCTYPE html> 
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
     <div class="main-content">
        {{>header}}
        <p class="about-para">This page uses data from <strong>mapbox.com</strong> and <strong>weatherstack.com</strong> to show you the weather for any location you search for!!</p> 
        <img class="portrait" src="/img/Naomi.jpg"/>
    </div>

    {{>footer}}
</body>

</html>